#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#klLogo {
  width: 25em;
  margin: 5em;
}

.logo {
  width: 6em;
  height: 6em;
  padding: 3em;
  margin: 1em;
  will-change: filter;
  transition: filter 300ms;
  background-color: beige;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.logo-container {
  display: inline-block;
  position: relative;
  margin: 1em;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  text-align: center;
  padding: 0.3em 0.5em;
  font-size: x-large;
  font-weight: bolder;

  /* 위치 */
  position: absolute;
  top: 100%; /* 이미지 바로 아래 */
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5em;

  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none; /* 마우스 이벤트 무시 */
}

.logo-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  color: #535bf2;
}
